In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\Felix Huang\AppData\Local\Temp\ipykernel_17172\2007767682.py:5: DtypeWarning: Columns (4,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("C:\\Users\\Felix Huang\\Desktop\\QTM 302W\\Descriptor Project\\nhis_00002.csv")

         YEAR  SERIAL  STRATA  PSU         NHISHID  HHWEIGHT  PERNUM  \
0        2000     1.0    5061    1      2000000001    2944.0       1
1        2000     1.0    5061    1      2000000001    2944.0       2
2        2000     1.0    5061    1      2000000001    2944.0       3
3        2000     1.0    5061    1      2000000001    2944.0       4
4        2000     1.0    5061    1      2000000001    2944.0       5
...       ...     ...     ...  ...             ...       ...     ...
1951274  2023     NaN     140   48  0002023H073184       NaN       2
1951275  2023     NaN     131    2  0002023H073185       NaN       1
1951276  2023     NaN     139   45  0002023H073189       NaN       1
1951277  2023     NaN     114   91  0002023H073190       NaN       1
1951278  2023     NaN     114   91  0002023H073190       NaN       2

                  NHISPID      HHX  FMX   PX  PERWEIGHT  SAMPWEIGHT  \
0          20000000010101        1  1.0  1.0     3568.0         0.0
1          20000000010102        1  1.0  2.0     3372.0     12409.0
2          20000000010103        1  1.0  3.0     3343.0         0.0
3          20000000010104        1  1.0  4.0     3160.0         0.0
4          20000000010105        1  1.0  5.0     3267.0     15986.0
...                   ...      ...  ...  ...        ...         ...
1951274  0002023H07318420  H073184  NaN  NaN        NaN     11211.0
1951275  0002023H07318510  H073185  NaN  NaN        NaN     10325.0
1951276  0002023H07318910  H073189  NaN  NaN        NaN     12747.0
1951277  0002023H07319010  H073190  NaN  NaN        NaN      6814.0
1951278  0002023H07319020  H073190  NaN  NaN        NaN      6371.0

         LONGWEIGHT  PARTWEIGHT  FWEIGHT  ASTATFLG  CSTATFLG  EDUC  EARNINGS
0               NaN         NaN   3160.0         3         0   201      10.0
1               NaN         NaN   3160.0         1         0   301       2.0
2               NaN         NaN   3160.0         0         3   111       0.0
3               NaN         NaN   3160.0         0         3   107       0.0
4               NaN         NaN   3160.0         0         1     0       0.0
...             ...         ...      ...       ...       ...   ...       ...
1951274         NaN         NaN      NaN         0         1     0       NaN
1951275         NaN         NaN      NaN         1         0   202       NaN
1951276         NaN         NaN      NaN         1         0   301       NaN
1951277         NaN         NaN      NaN         1         0   400       NaN
1951278         NaN         NaN      NaN         0         1     0       NaN

[1951279 rows x 20 columns]

In [ ]:
df = pd.read_csv("C:\\Users\\Felix Huang\\Desktop\\QTM 302W\\Descriptor Project\\nhis_00002.csv")

print(df)

In [13]:
df = df[~df['EARNINGS'].isin([0, 97, 98, 99])] # ~ is the negate sign, negates the statement
                                                # When comparing multiple values, use within instead of == and !=

def map_education(code):
    if code in range(100, 117):
        return 1 # Lower than HS
    elif code in range(201, 203):
        return 2 # HS Graduate
    elif code in range(300,304):
        return 3 # Some College
    elif code in [400]:
        return 4 # Bachelor's
    elif code in [500, 501, 502]:
        return 5 # Master's or Other Professional Degrees
    elif code in [503, 505]:
        return 6 # PhD
    else:
        return 0
    
df['EDUC_NEW'] = df['EDUC'].apply(map_education)
    
print(df.head())

    YEAR  SERIAL  STRATA  PSU     NHISHID  HHWEIGHT  PERNUM         NHISPID  \
0   2000     1.0    5061    1  2000000001    2944.0       1  20000000010101
1   2000     1.0    5061    1  2000000001    2944.0       2  20000000010102
6   2000     1.0    5061    1  2000000001    2944.0       7  20000000010107
12  2000     3.0    5005    2  2000000003    3383.0       1  20000000030101
13  2000     3.0    5005    2  2000000003    3383.0       2  20000000030102

   HHX  FMX  ...  PERWEIGHT  SAMPWEIGHT  LONGWEIGHT  PARTWEIGHT  FWEIGHT  \
0    1  1.0  ...     3568.0         0.0         NaN         NaN   3160.0
1    1  1.0  ...     3372.0     12409.0         NaN         NaN   3160.0
6    1  1.0  ...     3451.0         0.0         NaN         NaN   3160.0
12   3  1.0  ...     4111.0         0.0         NaN         NaN   4111.0
13   3  1.0  ...     4996.0         0.0         NaN         NaN   4111.0

    ASTATFLG  CSTATFLG  EDUC  EARNINGS  EDUC_NEW
0          3         0   201      10.0         2
1          1         0   301       2.0         3
6          3         0   301       5.0         3
12         2         0   303       5.0         3
13         3         0   400       6.0         4

[5 rows x 21 columns]

C:\Users\Felix Huang\AppData\Local\Temp\ipykernel_17172\950702386.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['EDUC_NEW'] = df['EDUC'].apply(map_education)

In [14]:
# Assuming 'variable_name' is the column for which you want to compute the mean and std
grouped_stats = df.groupby('EDUC_NEW')['EARNINGS'].agg(['mean', 'std']) # There is a groupby method in python, first argument is the variable
                                                                        # to groupby, second is the variable you want summary of

# Display the results
print(grouped_stats)

              mean       std
EDUC_NEW
0         4.807481  2.378659
1         4.267619  2.316498
2         5.368826  2.618220
3         5.766838  2.862276
4         7.404720  2.914890
5         8.413916  2.822063
6         9.193464  2.626942

0          2
1          3
2          1
3          1
4          0
          ..
1951274    0
1951275    2
1951276    3
1951277    4
1951278    0
Name: EDUC_NEW, Length: 1951279, dtype: int64